/* Fuentes y Estilos Globales */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap'); /*'Poppins'*/
@import url('https://rsms.me/inter/inter.css');

/* Estilos globales para el html y body */
#html{
  /* background: linear-gradient(-45deg, #B5CC94, #B3D0E1, #F7B98B, #DADADA); */
  background: url('https://fondosmil.com/fondo/60032.jpg');
  background-size: 150% 150%;
  animation: gradient 165s ease infinite;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Poppins",sans-serif;
  /* background: linear-gradient(-45deg, #a77120, #e73c7e, #23a6d5, #23d5ab); */
  
}


:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #4CAF50;

  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);

  --size-bezel: .5rem;
  --size-radius: 3em;

  line-height: 1.4;

  font-family: 'Inter', sans-serif;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}


section {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

h2, h3{
  color: #3A3F87;
  text-shadow: 2px 2px 3px #999;
}
.logo_img{
  margin: 4%;
}

#formulary {
  display: flex;
  width: 30vw;
  height: auto;
  min-width: 650px;
  min-height: 400px;
  perspective: 1000px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#div_registro {
  display: block;
  min-width: 550px;
  min-height: 565px;
  box-shadow: #212121 2px 2px 2px 2px;
}


h1, h2, h3 {
  font-weight: 900;
}

mark {
  background: var(--color-accent);
  color: var(--color-text);
  font-weight: bold;
  padding: 0 0.2em;
}

.card {
  background: var(--color-background);
  padding: calc(4 * var(--size-bezel));
  margin-top: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);

  &--inverted {
    --color-background: var(--color-dark);
    color: var(--color-light);
    --color-shadow: var(--color-accent);
  }

  &--accent {
    --color-background: var(--color-signal);
    --color-accent: var(--color-light);
    color: var(--color-dark);
  }

  *:first-child {
    margin-top: 0;
  }
}

.l-design-widht {
  max-width: 40rem;
  padding: 1rem;
}

.input {
  position: relative;

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
    background: pink;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
  }

  &__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);

    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(.25rem, -65%) scale(.8);
        color: var(--color-accent);
      }
    }
  }
}

.button-group {
  margin-top: calc(var(--size-bezel) * 2.5);
}

button {
  color: white;
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: #3A3F87;
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;
  cursor: pointer;

  &[type=reset]{
    background: var(--color-background);
    font-weight: 200;
  } 
}

button + button {
  margin-left: calc(var(--size-bezel) * 2);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .5em;
}

.hidden {
  display: none;
}

.formulario {
  border: 3px solid #ffffff;
  border-radius: 2em;
  width: 50%;
  min-width: 300px;
  padding: 8px 8px;
  font-size: 1.1em;
  font-weight: lighter;
  margin-bottom: 0.5%;
  box-sizing: border-box;
  text-align: center;
  transition: ease-in-out 1s;
  background-repeat: no-repeat;
  background-position: 4px;
  background-color: powderblue;
}
.formulario::placeholder{
  color: #212121;
  font-weight: lighter;
}
.formulario:focus{
  transform: scale(.993, .94); 
  width: 90%;  

  border: 3px solid #ffffff;
}
.formulario select {
  min-height: 50px;
}

#siguiente{
  float:right;
  padding: 20px;
  border-radius: 1em 2em 2em 1em;
  background-image: url('../images/next.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 35px;
  min-width: 122px;
  position: relative;
  top: 10px;
}
#atras{
  float:left;
  padding:20px;
  border-radius: 2em 1em 1em 2em;
  background-image: url('../images/back.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 25px;
  min-width: 122px;
  position: relative;
  top: 10px;
}
#sel_arriendo_venta{
  background-image: url('../images/icon_house.png');
}

#add_tipo{
  background-image: url('../images/icon_scroll.png');
}

#precio{
  background-image: url('../images/icon_precio.png');
}

#direccion{
  background-image: url('../images/icon_adress.png');
}

#add_pais{
  background-image: url('../images/icon_country.png');
}

#add_departamento{
  background-image: url('../images/icon_state.png');
}

#add_ciudad{
  background-image: url('../images/icon_city.png');
}

#area{
  background-image: url('../images/icon_m2.jpg');
  background-size: 24px;
}

#add_habitaciones{
  background-image: url('../images/icon_bedroom.png');
}

#add_banos{
  background-image: url('../images/icon_bathroom.png');
}

#add_area_construida{
  background-image: url('../images/icon_m2.jpg');
  background-size: 24px;
}


.double_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.reg_item label {
  font-size: 12px;
  margin: 1% 0 0 0;
  padding: 0;
}
#reg_fecha{
  background-image: url('../images/icon_calendar.png');
}


a {
  color: #212121;
}

a:visited {
  color: #212121;
}


img{
  max-width: 270px;
  margin: 0;
  padding: 0 ;
}

#ref_img{
  display: block;
  margin: -30px;
  padding: 0;
}

.paso{
  display: none;
}

.pagination button{
    display: inline-block;
    margin: 1% 0 1% 0;
}


#div_registro img{
    left: -20px;
    position: relative;
}

#btn_login_open{
  width: 35px;
  float: left;
  cursor: pointer;
}

#reg_btn_registrarme{
  display: none;
}
#btn_regis_prop{
  display: none;
  position: relative;
  left: 120px;
  top:10px;
  padding: 20px;
  border-radius: 1em 2em 2em 1em;
}
@media (max-width: 768px) {
  #html{
    background: none;
    overflow-x: hidden;
  }
  body{
    height: 100vh;
    overflow: hidden;
  }
  #btn_login_open{
    left: 0px;
    top: 8px;
  }
  .card{
    height: 100vh;
    width: 100vw;
    border: none;
    box-shadow: none;
    min-width: auto;
    min-height: auto;
  }
  #formulary{
   
    height: 100vh;
    width: 100vw;
    min-width: auto;
    min-height: auto;
  }
  #div_login{
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    min-height: auto;
  }
  #div_registro{
    background: url('../images/ArriendoFinca.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4%;
    height: 100vh;
    width: 100vw;
    min-width: auto;
    min-height: auto;
  }
  #ref_img{
    display: none;
  }
  #logo_img{
    width: 120px;
    margin: 21px;
  }
  .button{
    padding: 100px;
  }
  .f_content{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  .pagination{
    display: block;
  }
}

/*********ANIMATIONS************/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

