body{
    background: url('https://cdn.agendasonidocaracol.mx/Upload/50d18bf26ce5564e1a6868b68e58a7d31cf5.jpg');
    background-size: 150% 150%;
	animation: gradient 165s ease infinite;
    margin: 0;
    padding: 0;   
}
section{
    text-align: center;
    display: flex;
    justify-content: center;
}

.card{
    background: #fff;
    border-radius: 20px;
    border: solid black 2px;
    box-shadow: 3px 3px 3px #333;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 20px;
}


#div_edit_location{
    display: none;
}

.editable{
    margin: 10px 0px 10px 0px;
}

.grid_doble{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}

.formulario {
    border: 3px solid #ffffff;
    border-radius: 2em;
    width: 50%;
    min-width: 300px;
    padding: 8px 8px;
    font-size: 1.1em;
    font-weight: lighter;
    margin-bottom: 0.5%;
    box-sizing: border-box;
    text-align: center;
    transition: ease-in-out 1s;
    background-repeat: no-repeat;
    background-position: 4px;
    background-color: #D2F4F9;
  }
  .formulario::placeholder{
    color: #212121;
    font-weight: lighter;
  }
  .formulario:focus{
    transform: scale(.993, .94); 
    width: 90%;  
  
    border: 3px solid #ffffff;
  }
  .formulario select {
    min-height: 50px;
  }


/*********ANIMATIONS************/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
