/*Fonts----*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap'); /*'Poppins'*/
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');     /*'Rancho'*/

#html{
  background: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('https://images.alphacoders.com/837/837181.jpg');
    background-size: 150% 150%;
    animation: gradient 165s ease infinite;
    height: 100vh;

}

.busquedas{
    display:  grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    
}

h2, h3{
  color: #3A3F87;
  text-shadow: 2px 2px 3px #c7c7c7;
}
 /* cafe bonito 967f70  verde */

.inmoviliario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  min-height: 305px;
  min-width: 420px;
  padding: 20px;
  border-radius: 20px 10px 20px 20px;
  border: 4px solid #333;

}
.inmoviliario:hover{
  box-shadow: 3px 3px 3px 3px #333;
}

.inmoviliario_imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 200px;
  width: 100%;
}
.inmoviliario_imgs img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}
.resultado{
  text-align: center;
  display: inline-block;
}

#imv_title{
  color: white;
}
.mid_top{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 14px 0 14px 0;
}

#back_btn{
  border-radius: 2em 7px 7px 2em;
  background-image: url('../images/icon_double_left.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 5%;
  padding: 4dvh 7dvw;
}

.info_list{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-attachment: fixed;
  background-size: cover;
}
li{
text-align: center;
}

.info_hidden{
  display: none;
}

.info_hidden.mostrar{
  display: block;
}
.btn_contactar{
  width: 100%;
  height: 40px;
  margin-top: .5%;
  margin-bottom: .5%;
}
.btn_contactar:hover{
  cursor: pointer;
}
.results_div{
  text-align: center;
}

.div_certificado{
  background-color: gold;
  padding: 10px;
  border-radius: 1.5em;
  background-image: url(../images/icon_star.png);
  background-size: 42px;
  border: 4px #fff dotted;
}
.text_certificado{
  color: #fff;
  text-shadow: #333 2px 2px;

}

.pagination{
  margin: 3.5%;
}
.sub_info_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px){
  .busquedas{
    grid-template-columns: 1fr;
  }
  
  .inmoviliario{
    min-height: 105px;
    min-width: 220px;
    padding: 3em;
  }
}


/*********ANIMATIONS************/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


